{% include 'navbar.html' %} 
{% load static %}


<div  id='map'  style='height:400px;' />  
<link  rel="stylesheet"  href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css"  />  
<script  src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>  
<link rel="stylesheet" href="{% static 'style.css' %}">
<script>  

if (!navigator.geolocation) {
    throw new Error('No se encontro la localizacion')
}

function succes(pos) {

    const lat = pos.coords.latitude;
    const lng = pos.coords.longitude;
    var  OSM_URL  =  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';  
      var  OSM_ATTRIB  =  '&copy;  <a  href="http://openstreetmap.org/copyright">OpenStreetMap</a>  contributors';  
      var  osmLayer  =  L.tileLayer(OSM_URL,  {attribution:  OSM_ATTRIB});  
  
      var  WAQI_URL    =  "https://tiles.waqi.info/tiles/usepa-aqi/{z}/{x}/{y}.png?token=701ddd2366550d5f2fa875a38da1c12a464d8178";  
      var  WAQI_ATTR  =  'Air  Quality  Tiles  &copy;  <a  href="http://waqi.info">waqi.info</a>';  
      var  waqiLayer  =  L.tileLayer(WAQI_URL,  {attribution:  WAQI_ATTR});  
  
      var  map  =  L.map('map').setView([lat,  lng],  12);  
      var marker = L.marker([lat, lng]).addTo(map);
      map.addLayer(osmLayer).addLayer(waqiLayer);
    console.log(pos);
}
function error() {

}

const options = {}
navigator.geolocation.watchPosition(succes, error, options)

</script>