{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 

<navbar> 
    <ul> 
      <li id="menutodo"> <hr>
        <a href="/"><strong>Home</strong></a> <a href="/mapa">Mapa</a> <a href="/historial">Historial</a> <a href="/nosotros">Nosotros</a>
      <hr> </li> 
      
    </ul> 
</navbar> 
<style>#menutodo{border-style: solid; border-color:rgb(54, 43, 43); border-radius: 5px; padding:-50px 10px} /* Acá va el código de la barra de los URLs, la cual estará presente en todos los links */
hr{border:none}</style> <!-- Acá pongo lo del border none para que no se vean los bordes del hr pero se vea la barra de los URLS.-->