import pandas as pd
import tkinter as tk
from tkinter import ttk

class TablaDinamicaApp:
    def __init__(self, root):
        self.root = root
        self.root.title("Tabla Dinámica")

        # Crear un diccionario para almacenar los DataFrames de cada comuna
        self.comunas_dataframes = {}

        # Cargar los archivos CSV y almacenar en el diccionario
        comunas = ['rengo', 'santiago', 'punta_arenas']  # Lista de comunas (puedes agregar más)
        for comuna in comunas:
            csv_path = f"{comuna}.csv"
            df = pd.read_csv(csv_path)
            self.comunas_dataframes[comuna] = df

        # Crear una tabla usando Treeview de ttk
        self.tree = ttk.Treeview(root)
        self.tree["columns"] = tuple(self.comunas_dataframes[comunas[0]].columns)

        for col in self.comunas_dataframes[comunas[0]].columns:
            self.tree.heading(col, text=col)
            self.tree.column(col, anchor=tk.CENTER)

        for i, row in self.comunas_dataframes[comunas[0]].iterrows():
            self.tree.insert("", i, values=tuple(row))

        self.tree.pack(pady=10)

        # Crear un Menú desplegable para seleccionar una comuna
        self.comunas = ttk.Combobox(root, values=comunas)
        self.comunas.set(comunas[0])
        self.comunas.pack(pady=10)

        # Botón para mostrar la información de calidad del aire de la comuna seleccionada
        btn_mostrar = tk.Button(root, text="Mostrar Información", command=self.mostrar_informacion)
        btn_mostrar.pack(pady=10)

    def mostrar_informacion(self):
        # Obtener la comuna seleccionada
        comuna_seleccionada = self.comunas.get()

        # Obtener el DataFrame correspondiente a la comuna seleccionada
        df_comuna = self.comunas_dataframes[comuna_seleccionada]

        # Mostrar la información en la tabla
        self.tree.delete(*self.tree.get_children())  # Limpiar la tabla

        for i, row in df_comuna.iterrows():
            self.tree.insert("", i, values=tuple(row))

if __name__ == "__main__":
    root = tk.Tk()
    app = TablaDinamicaApp(root)
    root.mainloop()
